<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rafinaufalyassarramadhan_f55121038.aplikasi_uts">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_baseline_mode_of_travel_24"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.aplikasi_uts"
        tools:targetApi="31">
        <activity
            android:name=".pulautogean"
            android:exported="false" />
        <activity
            android:name=".danautambing"
            android:exported="false" />
        <activity
            android:name=".museum"
            android:exported="false" />
        <activity
            android:name=".cagaralammorowalli"
            android:exported="false" />
        <activity
            android:name=".danauposo"
            android:exported="false" />
        <activity
            android:name=".tuguperdamaian"
            android:exported="false" />
        <activity
            android:name=".souraja"
            android:exported="false" />
        <activity
            android:name=".tamannasional"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>